.reservations {
    width: 113%;
    margin-left: 7%;
}

.reservationButton {
	margin-left: 43%;
}

a.button.reservationButton{
    color: black !important;
}

.table tr.is-selected {
    color: #000;
}

.table tr.is-selected td, .table tr.is-selected th {
    border-color: #eee;
    color: black;
    border: 1px solid lightgray;
    background: white;
}

.resHistoryHeader {
    background: #3fc9e6;
}

.resHeader {
    background: #3fc9e6;
}

.reservationButton {
    top: 60px;
    border: 1px solid darkblue;
    border-radius: 2px;
}