.reservations {
    width: 113%;
    margin-left: 7%;
}

.reservationButton {
	margin-left: 43%;
}

a.button.reservationButton{
    color: black !important;
}

.table tr.is-selected {
    color: #fff;
}

.table tr.is-selected td, .table tr.is-selected th {
    border-color: #eee;
    color: currentColor;
    border: 1px solid lightgray;
    background: white;
}

.table tr.is-selected td, .table tr.is-selected th {
    border-color: #eee;
    color: black;
    border: 1px solid lightgray;
    background: white;
}