.reservations {
    width: 113%;
    margin-left: 7%;
}

.reservationButton {
	margin-left: 43%;
}

a.button.reservationButton{
    color: black !important;
}

.table tr.is-selected {
    background-color: ;
    color: #fff;
}
