.navbar {
    background: #3fc9e6;
}

a.navbar-item {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-shadow: rgba(0, 0, 0, 0.2);
}

a.navbar-item:hover {
    color: white;
    background: black;
    font-weight: bold;
}

a.logo-hover:hover {
    background: transparent !important;
}
