.navbar {
    background: #000000;
}

a.navbar-item {
    color:white;
}

a.navbar-item:hover {
    color:black;
    background: transparent;
    font-weight: bold;
}

.navbar-menu {
    height: 70px;
}
