body, html {
  padding:0px;
  margin: 0px;
  font-family: 'Roboto Condensed', sans-serif;
}

#app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.full-height {
	height: 100%;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: #fff !important;
  background-image: none;
  color: rgb(0, 0, 0);
}

.message{
  margin: 25px;
}



.input {
  width:300px;
  height:43px;
  border: 1px solid #5085EC;
}

