body, html {
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  background: white;
}

#app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.full-height {
	height: 100%;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: #fff !important;
  background-image: none;
  color: rgb(0, 0, 0);
}


