#map-results {
	padding: 10px;
	max-height: 600px;
    overflow-y: scroll;
}

.result-title {

}

.result-sub {

}

.result-price {

}

.result-img {
	border: 1px solid #ececec;
	max-width: 100%;
	margin: 0px;
}

.result-distance {
	
}

.result-btn {
	background-color: #3fc9e6;
	color: #fff;
	font-weight: bold;
	border-radius: 2px;
	border: 1px solid #5085EC;
	padding: 10px 0px;
	width: 100%;
	display: block;
	text-align: center;
	margin: 10px 0px;
}

.result-wrapper {
	display: block;
}

.result-column{
	max-width: 100%;
	margin: 0px;
}

