#map-results {
	padding: 10px;
}
#map-results h2 {
	padding: 10px;
}

.result-title {

}

.result-sub {

}

.result-price {

}

.result-img {
	border: 1px solid #ececec;
	max-width: 100%;
	margin: 0px;
}

.result-distance {
	
}


.result-wrapper {
	display: block;
}

.result-column{
	max-width: 100%;
	margin: 0px;
}

