.input.is-success, .textarea.is-success {
    border-color: #1DA1F2;
}

.formwrapper {
    margin-top: 25px;
    margin-bottom: 25px;
    border: none;
    background: white;
}

/*.pageWrapper{*/
/*background-image: ("parking.png");*/
/*}*/

.button.is-primary[disabled] {
    background-color: #3fc9e6;
    color: #fff;
    font-weight: bold;
    border-radius: 2px;
    height:43px;
    width: 18.5rem;
    border: 1px solid #5085EC;
}

.button.is-primary {
    background-color: #3fc9e6;
    color: #fff;
    font-weight: bold;
    border-radius: 2px;
    height:43px;
    width: 18.5rem;
    border: 1px solid #5085EC;
}