#footer {
    height: 200px;
    background: #00C4A7;
    background: -webkit-linear-gradient(#00C4A7, green);
    background: -o-linear-gradient(#00C4A7, green);
    background: -moz-linear-gradient(#00C4A7, green);
    background: linear-gradient(#00C4A7, green);
}