/*.fa-user,*/
/*.fa-envelope-o,*/
/*.fa-lock,*/
/*.fa-picture-o {*/
    /*padding: 7px;*/
/*}*/



body{

}

.icon.sell .fa.fa-envelope-o{
    font-size: 21px;
    margin-top: 11px;
    border: 1px solid #5085EC;
    width: 44px;
    height: 43px;
    padding: 7px 11px 7px 12px;
}

.icon.sell .fa.fa-user, .fa.fa-lock {
    font-size: 21px;
    margin-top: 11px;
    border: 1px solid #5085EC;
    width: 44px;
    height: 43px;
    padding: 7px 14px;
}

.icon.sell .fa.fa-picture-o {
    font-size: 21px;
    margin-top: 11px;
    border: 1px solid #5085EC;
    width: 44px;
    height: 43px;
    padding: 10px 11px;
}

.lastLine {
    padding-bottom: 20px;
}

li {
    text-align: justify;
    padding-right: 25px;
}