.form {
    width: 80%;
    margin-left: 15%;
}

input:-webkit-autofill {
    background-color: white !important;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input{
    background-color: white !important;
    background-image: none;
    color: rgb(0, 0, 0);
}

li {
    text-align: justify;
}

.login-form-img {
    height: auto;
    max-width: 125.5%;
    margin-left: -19%;
}

.google-btn {
    width: 100%;
    height: 100%;
    margin-left: -40px;
}