#home-hero {
	position: relative;
}

#home-hero::before {
	position: absolute;
	background-color: #000;
	top: 50%;
}

#hero-text {
	left: 0;
    position: absolute;
    text-align: center;
    top: 33%;
    width: 100%
}

#hero-text h1 {
	font-size: 4em;
    color: #ffffff;
    font-weight: 600;
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.3)
}

.hero {
	height: 400px;
	overflow: hidden;
}

.hero-img {
	/*width: auto;*/
	/*height: 400px;*/
	/*overflow:hidden;*/
	width: 100%;
	margin-top: -200px;
	filter: brightness(70%);
}

#home-intro, #home-select {
	text-align: center;
	padding: 100px 0px;
}

#home-intro h1, #home-select h1 {
	margin-bottom: 40px;
}

#home-intro .button {
	margin: 20px 0px;
}

#home-select {
	background-color: #ececec;
}

.round-number {
	margin-bottom: 20px;
/*	border: 1px solid #ececec;
	font-size: 2em;
	border-radius: 50%;
	padding: 20px 40px;*/
}

.search-btn {
	background-color: #3fc9e6;
	color: #fff;
	font-weight: bold;
	border-radius: 2px;
	border: 1px solid #5085EC;
	width: 100%;
	display: block;
}
