.column.res {
    width: 200px;
    padding: 1rem;
}

.columns.res {
    margin-left: -39px;
    margin-right: 0.75rem;
    margin-top: 0px;
}

.message-header {
    background: #92f2fe;    border-radius: 0px;
    color: #000;
}

.card-header-title {
    background: #92f2fe;
}

.card {
    border-radius: 3px;
}