p.error {
    background-image: url('/assets/images/diagonalParking.png');
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
    color: deepskyblue;
    margin: 0px;
    font-family: 'Press Start 2P', cursive;
    font-size: 75px;
}


p.error:active {
    color: plum;
}